/*works.css
Alim Rashyani
301497158*/

#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.workstitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1.2rem;
}

.worksImgsImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    
}

.worksImgs {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    color: white;
    align-items: center;
}

.worksImgsText>p {
    font-size: 1rem;
    font-weight: 200;
    
}
